Repository cpcloud/ibish: changes, and which pre-commit hooks are due for each by the changed paths.
All: prettier, taplo, nixpkgs-fmt, statix, deadnix

prettier:
  name: prettier
  language: system
  entry: prettier
  args:
  - --write

taplo:
  name: taplo
  language: system
  entry: taplo
  args:
  - fmt

nixpkgs-fmt:
  name: nixpkgs-fmt
  language: system
  entry: nixpkgs-fmt

statix:
  name: statix
  language: system
  entry: statix
  args:
  - fix
  pass_filenames: false

deadnix:
  name: deadnix
  language: system
  entry: deadnix
  args:
  - --edit
  - --fail

chore: seriously
  .envrc
  .releaserc.js
  ibish/__init__.py
  poetry.lock
  pyproject.toml
Due: prettier, taplo

chore: yep
  ibish/__init__.py
Due: none

docs: format
  README.md
Due: prettier

chore: connect
  ibish/__init__.py
Due: none

ci: release
  .github/workflows/release.yml
Due: prettier

chore: spelling config
  .codespellrc
Due: none

chore: avoid docs in release notes
  .releaserc.js
Due: prettier

ci: name
  ci/release/prepare.sh
Due: none

ci: use the correct name
  ci/release/prepare.sh
Due: none

chore(release): 1.0.0
  ibish/__init__.py
  pyproject.toml
Due: taplo

Notes added by 'git notes add'
  ad3f133dabf1938af78e814e803bf66ace6bd6d3
Due: none

chore: source release because who needs metadata
  ci/release/prepare.sh
Due: none

fix(build): source release because who needs metadata
  ci/release/prepare.sh
Due: none

chore: no wheel checking because no wheel
  ci/release/prepare.sh
Due: none

chore(release): 1.0.1
  ibish/__init__.py
  pyproject.toml
Due: taplo

Notes added by 'git notes add'
  ce40b6d3da2f8f083be4b7c9b52dee1b5d57a63b
Due: none

fix(build): rev
  pyproject.toml
Due: taplo

chore: fix issue tracker url
  pyproject.toml
Due: taplo

chore: relock
  poetry.lock
Due: none

chore: oh right, this works with 8.0.0
  poetry.lock
  pyproject.toml
Due: taplo

fix(build): wheels work
  ci/release/prepare.sh
Due: none

chore(release): 1.0.2
  ibish/__init__.py
  pyproject.toml
Due: taplo

Notes added by 'git notes add'
  2afebfe1190f5d4f5b2ab3b91b34064e479cada2
Due: none

chore: bleeding edge
  poetry.lock
  pyproject.toml
Due: taplo

chore: reading from the same pipe multiple times is not currently supported
  ibish/__init__.py
Due: none

build: make the Ibis dependency edge less bleeding
  pyproject.toml
Due: taplo

fix(deps): bump to ibis 9
  poetry.lock
  pyproject.toml
Due: taplo

chore: clean up unused pyproject.toml config
  pyproject.toml
Due: taplo

chore(release): 1.0.3
  ibish/__init__.py
  pyproject.toml
Due: taplo

Notes added by 'git notes add'
  a0b160efce808a7f64b467ec9ffb61eec0cd9d84
Due: none

chore: remove just runner for now
  flake.nix
Due: nixpkgs-fmt, statix, deadnix

chore(deps): bump nixpkgs
  flake.lock
Due: none

fix: use the right op
  ibish/compiler.py
Due: none

chore(release): 1.0.4
  ibish/__init__.py
  pyproject.toml
Due: taplo

Notes added by 'git notes add'
  14aad729269585c5040488a4d430078180ac0b8a
Due: none

chore: add some args
  ibish/__init__.py
Due: none

Path conditions:
  prettier: any of: \.(js|mjs|cjs)$, \.json$, \.(md|markdown|mdown)$, \.(yaml|yml)$
  taplo: any of: \.toml$
  nixpkgs-fmt: any of: \.nix$
  statix: any of: \.nix$
  deadnix: any of: \.nix$
